.activeGlitch{
background-image:url("../img/Madison1crop.jpg");
background-repeat: no-repeat;
height: 485px;
width: 526px;
margin-left: auto;
margin-right: auto;
transition: all 2s ease-in-out;
border-radius: 50%;
border: 5px solid black;
padding-right: 54%;
}
.activeGlitch:hover{
	
	background-image:url("../img/glitched-imagecrop.png");
}