/* Standard HTML/CSS Classes and ID's */
a
{
	color: #00A825;
}
a:hover
{
	color: #00811C;
}
body
{
	background: rgba(245, 220, 3, 0.14);}
h1
{
	color: #00A825;
}
h3
{
	color: #00A825;
}
.button
{
	background-color: #00A825;

}
.button:hover
{
	background-color: #00811C;
}
/* Custom Classes/ID's */
#activeGlitch
{
background-image:url("../img/madison1crop.jpg");
background-repeat: no-repeat;
height: 435px;
width: 526px;
margin-left: auto;
margin-right: auto;
transition: all .5s ease-in-out;
border-radius: 50%;
border: 5px solid black;
padding-right: 54%;
}
#activeGlitch:hover{
	
	background-image:url("../img/glitch2.png");
}